html {
	background: #ffffff; /* old browsers */
	background: -moz-linear-gradient(top, #f00 0%, #FFFFFF 57%, #DBDBDB 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(57%,#FFFFFF), color-stop(100%,#DBDBDB)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#DBDBDB',GradientType=0 ); /* ie */
	height: 100%;	
}

body {
	background: transparent;
	height: 100%;
}

hr {
	border: 0;
	border-bottom: 1px dashed rgba(0,0,0,.5) ;
}

hr:first-of-type {
	line-height: 4px;
	margin-bottom:0;
}

.container {
	margin: 5px 5px 0 5px;
}

a.action-style {
	background: #E5ECF9;
	padding: 0 3px 0 3px;
}

#content {
	position: relative;
}

#settings-menu {
	border: 1px dashed rgba(0,0,0,.5);
	border-top: 0;
	border-left: 0;
	width: 100%;
	height: 38px;
	padding: 5px;
	top: 0;
	position: absolute;
}

#settings-primary {
	padding-top: 48px;
}

#nav ul li, #settings-menu li {
	display: inline-block;
	background: #E5ECF9;
	margin: 8px 5px 0 0;
	padding-left: 3px;
	padding-right: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	float: left;
}

#nav div#new-post-channels-list ul li{
	width: 100%;
	background: transparent;
	padding: 0 0 0 10px;
}

th {
	opacity: .5;
}

#nav ul li a {
	padding: 0;
	margin: 0;
}


#nav ul li a.secondary {
	color: #333;
	opacity: .75;
}

/* Hints */

.hint {
	width: 100%;
	position: relative;
	background: rgba(25,25,25,.9);
	color: rgba(170,170,170,1);
	display: inline-block;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;	
	margin: 10px 0;
}

	#hint-toggle {
		display: none;
	}

	.hint .hint-body-wrapper {
		margin-right: 30px;
		margin-left: 78px;
	}

	.hint .hint-icon {
		width:0px;
		height:0px;
		float: left;
		background: transparent url(/images/admin/hint-icon.png) no-repeat 7px 3px;
	}

	.hint h3 {
		color: #CCDCF9;
	
	}

	.hint strong {
		color: rgba(255,255,255,1);
	}

	.hint .close-btn {
		background: rgba(25,25,25,.9);
		position: absolute;
		top: -16px;
		right: -16px;	
	    width: 32px; 
		height: 32px; 
	    -webkit-border-radius: 16px; 
		-moz-border-radius: 16px;
		border: 2px solid #fff;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);	
	  }

	.hint .close-btn:hover {
		background: #06c;		
	}

	.hint .close-btn a {
		text-decoration: none;
		color: #fff;	
		display: block;	
		text-align: center; 
		margin-top: -2px;
	}