<!-- Where is the rest of the layout? This chunk is included by /app/views/layouts/application.html.erb so edit that page to affect the overall structure -->
<div id="main">
<h2>Meet Jewely: the brainy beauty</h2>
<p>
	Every CMS claims to be elegant, easy, flexible, and powerful. But digging deeper, you discover you must write your code in a blog templating language. Or you see how the admin interface is clouded with too many options at once. An elegant CMS is one that understands you are just trying to make content.
</p>
<p>Jewely is different than other Rails CMS solutions. Jewely knows that you can get better extended functionality from doing it yourself in Rails or by installing a Rails gems. She respects that.</p>
<h3>About the creators</h3>
<p>
	Jewely was created by two freelancing veterans: <a href="http://jamesleesmith.com">James Smith</a> (a.k.a <a href="http://twitter.com/jls">JLS</a>) and <a href="http://storypixel.com">Sam Wilson</a> (a.k.a <a href="http://twitter.com/storypixel">storypixel</a>) to solve their own Rails-based CMS woes. James's strong coding and Sam's strong design are reflected in every corner of Jewely. They wish for one thing: that you fall in love with Jewely too.
</p>
<h3>Learn Rails while you learn Jewely</h3>
<p>
	You do not have to know Rails to make a blog with Jewely. Yet as you work with your blog's interface (not the content), you'll inevitably pick up some Rails. That is one of the coolest side effects of using Jewely.
	</p>
<h3>Getting serious with Jewely</h3>
<p>Jewely is all about DIY and was built with the hacker in mind. You can extend your Jewely-enabled Rails project just as you would any Rails project. The possibilities are only limited by your time and energy.</p>

<h3>Fork Jewely today</h3>
<p>If you have an idea for a modification, all you need to is fork the Jewely project on Github. We want your brains to make Jewely the best she can be!</p>
</div>
