<!-- Where is the rest of the layout? This chunk is included by /app/views/layouts/application.html.erb so edit that page to affect the overall structure -->
<div id="main">
<h2>Meet Jewely: the brainy beauty</h2>
<p>
	Every CMS claims to be elegant, easy, flexible, and powerful. But digging deeper, you discover you must write your code in a blog templating language. Or you see how the admin interface is clouded with too many options at once. An elegant CMS is one that understands you are just trying to make content.
</p>
<p>Jewely is different than other Rails CMS solutions. Jewely knows that you can get better extended functionality from doing it yourself in Rails or by installing a Rails gems. She respects that.</p>
<h3>About the creators</h3>
<p>

	Jewely was created by two freelancing veterans: <a href="http://jamesleesmith.com">James Smith</a> (a.k.a <a href="http://twitter.com/jls">JLS</a>) and <a href="http://storypixel.com">Sam Wilson</a> (a.k.a <a href="http://twitter.com/storypixel">storypixel</a>) to solve their own Rails-based CMS woes. James's strong coding and Sam's strong design are reflected in every corner of Jewely. They wish for one thing: that you fall in love with Jewely too.
</p>
<h3>Learn Rails while you learn Jewely</h3>
<p>
	You do not have to know Rails to make a blog with Jewely. Yet as you work with your blog's interface (not the content), you'll inevitably pick up some Rails. That is one of the coolest side effects of using Jewely.
	</p>
	<h3>Getting serious with Jewely</h3>
	<p>Jewely is all about DIY and was built with the hacker in mind. You can extend your Jewely-enabled Rails project just as you would any Rails project. The possibilities are only limited by your time and energy.</p>

	<h3>Fork Jewely today</h3>
	<p>If you have an idea for a modification, all you need to is fork the Jewely project on Github. We want your brains to make Jewely the best she can be!</p>	


</div>
<div id="secondary" class="about">
	<h3>iPhone wallpaper</h3>
	<p>
	<a title="sooo legit" href="http://s3.amazonaws.com/jewely/jewely-hotpink-on-maroon.png"><img src="http://s3.amazonaws.com/jewely/jewely-hotpink-on-maroon.png" class="rounded" /></a>
	</p>
</div>

<div id="screenshots">
	<ul>
		<li>
			<img src="http://s3.amazonaws.com/jewely/jewely-admin-home.png" />
			<span>The landing page for admin tries to not crowd your thoughts since you're about to make some awesome content.</span>
		</li>		
		<li>
			<img src="http://s3.amazonaws.com/jewely/jewely-admin-articles.png" />
			<span>Your posts are called articles, and they're laid out very neatly for you.</span>
		</li>
		<li>
			<img src="http://s3.amazonaws.com/jewely/jewely-admin-new-article.png" />
			<span>Writing a new article should be no big deal. Options are available but clearly marked as "options" so that your eyes aren't tripping all over them... draining your genius... making you sad.</span>
		</li>		
		<li>
			<img src="http://s3.amazonaws.com/jewely/jewely-admin-categories.png" />
			<span>Categorizing your posts is a matter of making a category and, when you write a post, selecting it.</span>
		</li>
		<li>
			<img src="http://s3.amazonaws.com/jewely/jewely-admin-channels.png" />
			<span>A channel is a kind of content. It doesn't make sense to write a blog post the same as you would a new employee or a new piece of work. Channels allow you to neatly separate different kinds of content for better organization and flexibility.</span>
		</li>
		<li>
			<img src="http://s3.amazonaws.com/jewely/jewely-admin-comments.png" />
			<span>Comments are easy to manage and optionally integrates with Askimet spam-filtering so you don't have Viagra all in your posts. Any kind of post can have comments associated with them. Of course they don't have to.</span>
		</li>

		<li>
			<img src="http://s3.amazonaws.com/jewely/jewely-admin-settings.png" />
			<span>This is where you manage who can access your system as well as other bells and whistles which apply to your site.</span>
		</li>
		
	</ul>
</div>