<div class="hint" id="hint-toggle">
	<!-- id is set only for prototype stuff. we can nix the ids when we use soemthing else -->
	<div class="close-btn" id="close-btn"><a href="#">x</a></div>
	
	<h3><%= (local_assigns.has_key? :topic) ? topic : "Tip" %></h3>
	<div class="hint-icon">
	</div>
	<div class="hint-body-wrapper">
		<div class="hint-body">
			<%= hint -%>
		</div>
		<input id="show_hints" name="show_hints" type="checkbox" value="1" checked="checked" /><label for="show_hints">Show hints</label> 
	</div>
</div>