<!-- included by /app/views/layouts/application.html.erb (look for the yield statement for precise part)-->
<p>A bit about you. This portion can be found in /app/views/templates/about.html.erb. Replace this with your own about text.</p>