<!-- included by /app/views/layouts/application.html.erb (look for the yield statement for precise part)-->
<p>This is the main home page text. This portion can be found in /app/views/templates/index.html.erb</p>
