<!-- Where is the rest of the layout? This chunk is included by /app/views/layouts/application.html.erb so edit that page to affect the overall structure -->
<div id="main">
	
	<h2>Results</h2>
	<ul id="recent-posts">

		<!-- The loop which lists your articles in blog channel -->
		<% Article.get(:channel => "blog").each do |article| %>
			<li class="group">
				<div class="primary-info">
					<!-- not sure how to do article url yet -->						
					<%= link_to article.title, "/read/#{article.slug}", :class => "title" %>
					<span class="category-info">in 
						<!-- not sure how to do category loop -->
						<a href="#" class="category">Tutorials</a>
						<!--<%= article.categories.map(&:name).join(",") -%>-->							
					</span>
				</div>
				<div class="secondary-info">
					<!-- not sure how to do comments count -->
					<%= link_to article.comments.count, "#", :class => "num-comments" -%>
				</div>					
			</li>
		<% end %>
		<!-- end loop -->

	</ul>

</div>

